:root {
    --font: "Roboto", sans-serif;
}

body {
    font-family: var(--font);
}

/* start navbar */
.navbar-brand {
    font-size: 48px;
}

.nav-link {
    font-size: 20px;
}

.nav-right {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.right-menu {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.right-menu:hover {
    width: 200px;
    background-color: #202020;
    color: white;
    border-radius: 0;
}
/* end navbar */

/* start galeri */

.deskripsi-left {
    background-color: #212529;
    color: #fff;
    width: 350px;
    padding-left: 2em;
}
.deskripsi-left h1 {
    font-weight: 700;
    font-size: 38px;
}

.deskripsi-left p {
    font-size: 20px;
}

.deskripsi-right {
    background-color: #fff;
    width: 350px;
    padding-left: 2em;
}
.deskripsi-right h1 {
    font-weight: 700;
    font-size: 38px;
}

.deskripsi-right p {
    font-size: 20px;
}
/* end galeri */
