html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --font: "Roboto", sans-serif;
}

body {
    font-family: var(--font);
}

/* start navbar */
.navbar-brand {
    font-size: 48px;
}

.nav-link {
    font-size: 20px;
}

.nav-right {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.right-menu {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.right-menu:hover {
    width: 200px;
    background-color: #202020;
    color: white;
    border-radius: 0;
}
/* end navbar */

/* main */
.bg {
    background-image: url("../assets/main-bg.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
/* end main */
