:root {
    --font: "Roboto", sans-serif;
}

body,
html {
    font-family: var(--font);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start navbar */
.navbar-brand {
    font-size: 48px;
}

.nav-link {
    font-size: 20px;
}

.nav-right {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.right-menu {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.right-menu:hover {
    width: 200px;
    background-color: #202020;
    color: white;
    border-radius: 0;
}
/* end navbar */

/* start galeri */

.deskripsi-left {
    background-color: #212529;
    color: #fff;
    width: 350px;
    padding-left: 2em;
}
.deskripsi-left h1 {
    font-weight: 700;
    font-size: 38px;
}

.deskripsi-left p {
    font-size: 20px;
}

.deskripsi-right {
    background-color: #fff;
    width: 350px;
    padding-left: 2em;
}
.deskripsi-right h1 {
    font-weight: 700;
    font-size: 38px;
}

.deskripsi-right p {
    font-size: 20px;
}
/* end galeri */

/* main */
.bg {
    background-image: url("../assets/main-bg.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.login-form {
    background: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px 50px;
    margin-left: 100px;
    max-width: 700px;
    color: #000;
    border-left: #000 solid 20px;
    border-right: #000 solid 20px;
}

.login-form h1 {
    font-size: 88px;
}

.login-form p {
    font-size: 22px;
    font-weight: 800;
}

.field-group {
    width: 600px;
    position: relative;
    padding-top: 15px;
}

.input-field {
    width: 90%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #252525;
    padding: 10px 0;
    background: transparent;
    font-size: 18px;
    color: #000;
    transition: 0.3s ease;
}

.input-field:focus::-webkit-input-placeholder {
    transition: opacity 0.2s 0.2s ease !important;
    opacity: 0.25;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    font-size: 1.3em;
    font-weight: 800;
}

.btn-submit:hover {
    padding: 10px 20px;
    background-color: #202020;
    color: #fff;
    border-radius: 0;
    font-size: 1.3em;
    font-weight: 800;
}

.form-button a {
    font-size: 1.2em;
}

.form-footer p {
    font-weight: 400;
}

.form-footer .join {
    font-weight: 600;
}
/* end main */
