:root {
    --font: "Roboto", sans-serif;
}

body {
    font-family: var(--font);
}

/* start navbar */
.navbar-brand {
    font-size: 48px;
}

.nav-link {
    font-size: 20px;
}

.nav-right {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.right-menu {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.right-menu:hover {
    width: 200px;
    background-color: #202020;
    color: white;
    border-radius: 0;
}
/* end navbar */

/* start card */

.row {
    margin: 0 0 !important;
}
.course_card {
    margin: 25px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    transition: 0.25s ease-in-out;
}

.course_card:hover {
    transform: scale(1.025);
    border-radius: 0.375rem;
    box-shadow: 0 0 2rem #3d3d3d;
}

.course_card_img {
    max-height: 100%;
    max-width: 100%;
}

img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.course_card:hover {
    transform: translateY(-1%);
}

.course_card_content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 18px;
}

p {
    text-align: justify;
}

.course_card_footer {
    padding: 10px 0px;
    margin: 16px;
}

.btn-komentar {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000;
    color: #eee;
    padding: 10px;
    font-weight: 300;
    margin-right: 1rem;
    font-size: 14px;
    float: right;
}

.btn-komentar:hover {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #202020;
    color: #eee;
    padding: 10px;
    font-weight: 300;
    margin-right: 1rem;
    font-size: 14px;
    float: right;
}

.course_card {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.list-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    position: relative;
}

/* end card */
