:root {
    --font: "Roboto", sans-serif;
}

body {
    font-family: var(--font);
}

/* start navbar */
.navbar-brand {
    font-size: 48px;
}

.nav-link {
    font-size: 20px;
}

.nav-right {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.right-menu {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.right-menu:hover {
    width: 200px;
    background-color: #202020;
    color: white;
    border-radius: 0;
}
/* end navbar */

/* start card */
.arts {
    width: 75%;
}

.arts .art-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4);
    position: relative;
    border-radius: 0;
}

.arts .art-item .desc {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    /* cursor: pointer; */
}

.arts .art-item .art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arts .product-item .desc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
/* end card */
